busdriver = require "./busdriver"

args = process.argv.splice 2

if args[0]
  auth = require args[0]
else
  auth =
    userAuth: "auth+live+FILL IN AUTH TOKEN HERE"
    userId: "FILL IN USER ID HERE"

if args[1]
  room = require args[1]
else
  room =
    roomId: "FILL IN ROOM ID HERE"

options =
  userAuth: auth.userAuth
  userId: auth.userId
  roomId: room.roomId
  ircServer: "irc.HOST.TDL"
  ircChan: "#THISISACHANIJUSTMADEUP"
  ircHandle: "Bus D"
  
  # User ids of bot controllers
  owners: [
    "OWNER ID 1"
    "OWNER ID 2"
  ]
  
  # Don't list these people as mods
  excluded_mods: [
    "EXCLUDED MOD ID"
  ]

driver = new busdriver.busDriver options
